.modalImage {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-height: 80vh;

    height: 80vw;
    width: auto;
}

.modalImage img {
    cursor: pointer;

    max-height: 80vh;

    height: 80vw;
    width: auto;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modalImage button {
    position: relative;
    width: 150px;
    bottom: -20px;
    left: calc(50% - 75px);
    z-index: 20;
}

.boxDetailModal {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%; -50%)';
    width: 400;
    background-color: 'background.paper';
    border: '2px solid #000';
    box-shadow: 24;
    p: 4;
    overflow: 'scroll';
    max-height: '100vh';
    overflow: 'auto'
};