.MemeSelector {
    overflow: auto;
    max-width: 100em;
    margin: auto;
    height: 40em;
    background-color: rgb(192, 192, 192);
}

.MemeSelectionImage {
    position: relative;
    height: 10em;
    width: 10em;
    margin: 5px;
    border: solid 1px black;
    object-fit: cover;
}

.MemeSelectionImage:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.SelectedMeme {
    margin-top: 3em;
    height: 20em;
    width: auto;
    aspect-ratio: auto;
    box-shadow: 0 30px 50px rgba(0,0,0,.5);
    margin-bottom: 5em;
}

.generatedMeme img {
    height: 100%;
    width: 50em;
}

.ControlnetHint {
    height: 100%;
    width: 25em;
}